*{
    margin: 0;
    padding: 0;
}
body{
      font-family: "Inter", sans-serif;
       font-optical-sizing: auto;
}
/* header--area */
.navand_a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 66%;
}
.wrapper {
    max-width: 1600px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
nav ul {
    display: flex;
}
nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
nav ul li {
    list-style: none;
}
nav ul {
    display: flex;
    gap: 32px;
}
.btn_primary{
    background-color: #469165;
    padding: 12px 16px;
    color:#fff;
    border-radius: 4px;
    text-decoration: none;
        display: flex;
    align-items: center;
    gap: 10px;
}
header .wrapper {
    padding: 10px 0px;
}
/* main--area */
.banner_hero {
    background: url(hero-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.wrapper.section{
    display: block;
}
.early_access_tcp div {
    background: #ffff;
    padding: 0 20px;
    border-radius: 20px;
    max-width: max-content;
    margin: 0 auto;
    display: flex;
    justify-items: normal;
    align-items: flex-start;
    padding-top: 7px;
    gap: 7px;
    padding-bottom: 0px;
}
.wrapper.section {
    display: block;
    padding-top: 100px;
    padding-bottom: 150px;
    text-align: center;
}
span.textss {
    color: #469165;
    font-weight: 500;
}
.wrapper.section h1{
    font-size: 72px;
    color: #30B868;
    padding: 16px;
    font-weight: bold;
    line-height: 84px;
}
.wrapper.section h1 span{
    display: block !important;
    color: #fff;
}
.wrapper.section p {
    font-size: 18px;
    color: #ffffff;
    /* line-height: 24px; */
    margin: 10px 0px;
    font-weight: normal;
}
.btnms{
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.btn_secondary{
       background-color: transparent;
    padding: 12px 16px;
    color:#fff;
    border-radius: 4px;
    text-decoration: none;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    gap: 10px;
}
.btn_secondary img{
    max-width: 16px;
}

